### Assignment:

* You have IMDB dataset which has two columns named review and sentiment. Make a classifier for detecting whether a sentences is positive or not.
* Make Preprocessing and apply the Bag of Words method
* Use RF Classifier
* Write the disadvantages of using Bag of Words

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from  sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

In [3]:
df = pd.read_csv("C:/Users/doguy/Desktop/Data/IMDB_Dataset.csv")

In [4]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [5]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [6]:
df.shape

(50000, 2)

In [7]:
df["category"] = df["sentiment"].apply(lambda x: 1 if x == "positive" else 0)
df["category"]

0        1
1        1
2        1
3        0
4        1
        ..
49995    1
49996    0
49997    0
49998    0
49999    0
Name: category, Length: 50000, dtype: int64

In [8]:
df = df.drop('sentiment', axis=1)
df

                                                  review  category
0      One of the other reviewers has mentioned that ...         1
1      A wonderful little production. <br /><br />The...         1
2      I thought this was a wonderful way to spend ti...         1
3      Basically there's a family where a little boy ...         0
4      Petter Mattei's "Love in the Time of Money" is...         1
...                                                  ...       ...
49995  I thought this movie did a down right good job...         1
49996  Bad plot, bad dialogue, bad acting, idiotic di...         0
49997  I am a Catholic taught in parochial elementary...         0
49998  I'm going to have to disagree with the previou...         0
49999  No one expects the Star Trek movies to be high...         0

[50000 rows x 2 columns]

In [9]:
df["category"].value_counts() #Balanced

1    25000
0    25000
Name: category, dtype: int64

In [10]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

df['review_without_stopwords'] = df['review'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [11]:
df['review_without_stopwords'] = df['review_without_stopwords'].str.replace(r"\W", " ", regex=True)
df

,review,category,review_without_stopwords
0,One of the other reviewers has mentioned that ...,1,One reviewers mentioned watching 1 Oz episode ...
1,A wonderful little production. <br /><br />The...,1,A wonderful little production br br The...
2,I thought this was a wonderful way to spend ti...,1,I thought wonderful way spend time hot summer ...
3,Basically there's a family where a little boy ...,0,Basically there s family little boy Jake thi...
4,"Petter Mattei's ""Love in the Time of Money"" is...",1,Petter Mattei s Love Time Money visually stu...
...,...,...,...
49995,I thought this movie did a down right good job...,1,I thought movie right good job It creative or...
49996,"Bad plot, bad dialogue, bad acting, idiotic di...",0,Bad plot bad dialogue bad acting idiotic di...
49997,I am a Catholic taught in parochial elementary...,0,I Catholic taught parochial elementary schools...
49998,I'm going to have to disagree with the previou...,0,I m going disagree previous comment side Malti...
49999,No one expects the Star Trek movies to be high...,0,No one expects Star Trek movies high art fans...

In [12]:
df['review_without_stopwords'] =  df['review_without_stopwords'].apply(lambda x: x.lower())
df.drop("review",axis=1,inplace=True)
df

       category                           review_without_stopwords
0             1  one reviewers mentioned watching 1 oz episode ...
1             1  a wonderful little production   br    br   the...
2             1  i thought wonderful way spend time hot summer ...
3             0  basically there s family little boy  jake  thi...
4             1  petter mattei s  love time money  visually stu...
...         ...                                                ...
49995         1  i thought movie right good job  it creative or...
49996         0  bad plot  bad dialogue  bad acting  idiotic di...
49997         0  i catholic taught parochial elementary schools...
49998         0  i m going disagree previous comment side malti...
49999         0  no one expects star trek movies high art  fans...

[50000 rows x 2 columns]

In [13]:
import nltk

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

df['review_without_stopwords'] = df.review_without_stopwords.apply(lemmatize_text)

In [14]:
df

       category                           review_without_stopwords
0             1  [one, reviewer, mentioned, watching, 1, oz, ep...
1             1  [a, wonderful, little, production, br, br, the...
2             1  [i, thought, wonderful, way, spend, time, hot,...
3             0  [basically, there, s, family, little, boy, jak...
4             1  [petter, mattei, s, love, time, money, visuall...
...         ...                                                ...
49995         1  [i, thought, movie, right, good, job, it, crea...
49996         0  [bad, plot, bad, dialogue, bad, acting, idioti...
49997         0  [i, catholic, taught, parochial, elementary, s...
49998         0  [i, m, going, disagree, previous, comment, sid...
49999         0  [no, one, expects, star, trek, movie, high, ar...

[50000 rows x 2 columns]


**Step 1: Convert the preprocessed text column to a list of strings**

text_list = [' '.join(row) for row in df["review_without_stopwords"]]

**Step 2: Vectorization**

vectorizer = CountVectorizer()

vectorized_text = vectorizer.fit_transform(text_list)

**Convert the vectorized text to a DataFrame for better readability**

vectorized_df = pd.DataFrame(vectorized_text.toarray(), columns=vectorizer.get_feature_names())


##### MemoryError: Unable to allocate 34.4 GiB for an array with shape (50000, 92323) and data type int64

 Q: Why are you faced with this error?
 A: The Bag of words technique creates many features for every documents so it's hard to handle

### Because of that problem statement, I will take a sample size of the dataset.

In [15]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Set the desired sample size
sample_size = 1800

# Take a random sample from your dataframe
sample_data = df.sample(n=sample_size, random_state=42)

# Convert the preprocessed text column to a list of strings
text_list = [' '.join(row) for row in sample_data["review_without_stopwords"]]

# Vectorization
vectorizer = CountVectorizer()
vectorized_text = vectorizer.fit_transform(text_list)

# Convert the vectorized text to a DataFrame
vectorized_df = pd.DataFrame(vectorized_text.toarray(), columns=vectorizer.get_feature_names())

C:\Users\doguy\Anaconda\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [16]:
vectorized_df

,00,000,007,0079,0080,0083,00pm,01,02,04,...,zoom,zooming,zorro,zucco,zucker,zuckerman,zukor,zunz,zwart,étc
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1799,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df

       category                           review_without_stopwords
0             1  [one, reviewer, mentioned, watching, 1, oz, ep...
1             1  [a, wonderful, little, production, br, br, the...
2             1  [i, thought, wonderful, way, spend, time, hot,...
3             0  [basically, there, s, family, little, boy, jak...
4             1  [petter, mattei, s, love, time, money, visuall...
...         ...                                                ...
49995         1  [i, thought, movie, right, good, job, it, crea...
49996         0  [bad, plot, bad, dialogue, bad, acting, idioti...
49997         0  [i, catholic, taught, parochial, elementary, s...
49998         0  [i, m, going, disagree, previous, comment, sid...
49999         0  [no, one, expects, star, trek, movie, high, ar...

[50000 rows x 2 columns]

In [18]:
if len(df) > 1800:
    df = df[:1800]
df

      category                           review_without_stopwords
0            1  [one, reviewer, mentioned, watching, 1, oz, ep...
1            1  [a, wonderful, little, production, br, br, the...
2            1  [i, thought, wonderful, way, spend, time, hot,...
3            0  [basically, there, s, family, little, boy, jak...
4            1  [petter, mattei, s, love, time, money, visuall...
...        ...                                                ...
1795         1  [this, funny, movie, easy, watch, entertains, ...
1796         0  [i, ll, give, writer, director, william, gove,...
1797         0  [i, ll, give, movie, two, star, teems, beautif...
1798         0  [laugh, clown, laugh, released, 1928, star, le...
1799         0  [i, m, sorry, guy, thought, film, could, somet...

[1800 rows x 2 columns]

In [19]:
X = vectorized_df
y = df["category"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [20]:

# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

In [21]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [22]:
y_pred = rf.predict(X_test)

In [23]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.48148148148148145

In [24]:
param_dist = {'n_estimators': randint(50,500),
              'max_depth': randint(1,20)}

# Create a random forest classifier
rf = RandomForestClassifier()

# Use random search to find the best hyperparameters
rand_search = RandomizedSearchCV(rf, 
                                 param_distributions = param_dist, 
                                 n_iter=5, 
                                 cv=5)

# Fit the random search object to the data
rand_search.fit(X_train, y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=5,
                   param_distributions={'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000029E03E796A0>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000029E03E770A0>})

In [25]:
# Create a variable for the best model
best_rf = rand_search.best_estimator_

# Print the best hyperparameters
print('Best hyperparameters:',  rand_search.best_params_)

Best hyperparameters: {'max_depth': 9, 'n_estimators': 213}

In [26]:
y_pred = best_rf.predict(X_test)

In [27]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.5016835016835017

In [28]:
from sklearn.naive_bayes import GaussianNB

# Build a Gaussian Classifier
model = GaussianNB()

# Model training
model.fit(X_train, y_train)

GaussianNB()

In [29]:
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    ConfusionMatrixDisplay,
    f1_score,
)

y_pred = model.predict(X_test)
accuray = accuracy_score(y_pred, y_test)
f1 = f1_score(y_pred, y_test, average="weighted")

print("Accuracy:", accuray)
print("F1 Score:", f1)

Accuracy: 0.5269360269360269
F1 Score: 0.5291963051880085

In [36]:
from sklearn.model_selection import RepeatedStratifiedKFold

cv_method = RepeatedStratifiedKFold(n_splits=5, 
                                    n_repeats=3, 
                                    random_state=999)

In [38]:
from sklearn.preprocessing import PowerTransformer
from sklearn.model_selection import GridSearchCV
params_NB = {'var_smoothing': np.logspace(0,-9, num=100)}

gs_NB = GridSearchCV(estimator=model, 
                     param_grid=params_NB, 
                     cv=cv_method,
                     verbose=1, 
                     scoring='accuracy')

Data_transformed = PowerTransformer().fit_transform(X_test)

gs_NB.fit(Data_transformed, y_test);

C:\Users\doguy\Anaconda\lib\site-packages\sklearn\preprocessing\_data.py:3253: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

Fitting 15 folds for each of 100 candidates, totalling 1500 fits

In [39]:
gs_NB.best_params_

{'var_smoothing': 0.43287612810830584}

In [40]:
gs_NB.best_score_

0.5067274367374067